.map {
    height: 600px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.infoContainer {
    width: 100%;
    font-family: "ih";
    text-align: center;
}

.infoFlag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.infoFlag img {
    width: 100px;
    border-radius: 5px;
}

.infoName {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.infoCases,
.infoRecovered,
.infoDeaths {
    font-size: 16px;
    margin-top: 5px;
}
